<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Required Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Register</title>
</head>
<body>
<!--<form th:action="@{/register}" th:object="${user}" method="post">-->
<!--    <h3>Registration</h3>-->
<!--    <input type="text" th:field="*{firstName}" placeholder="First Name"/> <br/><br/>-->
<!--    <input type="text" th:field="*{lastName}" placeholder="Last Name"/> <br/><br/>-->
<!--    <input type="text" th:field="*{phone}" placeholder="Phone Number"/> <br/><br/>-->
<!--    <input type="text" th:field="*{email}" placeholder="Email"/> <br/><br/>-->
<!--    <input type="password" th:field="*{password}" placeholder="Password"/> <br/><br/>-->
<!--    <select th:field="*{role}" required> Are you a Sharer or a Renter?-->
<!--        <option value="">Select</option>-->
<!--        <option value="RENTER">Renter</option>-->
<!--        <option value="SHARER">Sharer</option>-->
<!--    </select> <br/><br/>-->
<!--    <button type="submit">Register</button>-->
<!--    | <a th:href="@{|/login|}" th:text="'Log in'"></a>-->
<!--    <span th:utext="${successMessage}"></span>-->
<!--    <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">-->
<!--        <ul th:each="data : ${bindingResult.getAllErrors()}">-->
<!--            <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</form>-->

<!--Container-->
<div class="container h-100">
    <div class="row justify-content-sm-center">
        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-9">

            <!-- Logo - redirects to homepage -->
            <div class="text-center my-5">
                <a th:href="@{/}">
                    <img th:src="@{/img/logo.png}" width="300" alt="logo">
                </a>
            </div>

            <!-- Card -->
            <div class="card shadow-lg">

                <!-- Error message-->
                <div th:if="${param.success}">
                    <div class="alert alert-success">You've successfully registered
                        to our app!</div>
                </div>
<!--                <div class="pt-4 pb-2">-->
<!--                    <div th:utext="${successMessage}"></div>-->
<!--                </div>-->

<!--                <div class="pt-4 pb-2">-->
<!--                    <div th:utext="${errorMessage}"></div>-->
<!--                </div>-->


                    <!-- Card body-->
                    <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>

                    <!--Register form -->
                    <form th:action="@{/register}" th:object="${user}" method="post">

                        <!--First Name-->
                        <div class="mb-3">
                            <label class="mb-2" for="firstName"> First Name</label>
                            <input id="firstName" type="text" class="form-control"
                                   th:field="*{firstName}" th:errorclass="is-invalid">
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                        </div>

                        <!--Last Name-->
                        <div class="mb-3">
                            <label class="mb-2" for="lastName">Last Name</label>
                            <input id="lastName" type="text" class="form-control"
                                   th:field="*{lastName}" th:errorclass="is-invalid">
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                        </div>

                        <!--Phone-->
                        <div class="mb-3">
                            <label class="mb-2" for="phone">Phone number</label>
                            <input id="phone" type="number" class="form-control"
                                   th:field="*{phone}" th:errorclass="is-invalid">
                            <p class="invalid-feedback"
                                 th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                        </div>

                        <!--Email-->
                        <div class="form-group mb-3">
                            <label class="mb-2" for="email">E-mail Address</label>
                            <input id="email" type="email" class="form-control"
                                   th:field="*{email}" th:errorclass="is-invalid">
                            <div th:errors="*{email}" class="invalid-feedback" th:if="${#fields.hasErrors('email')}" ></div>
                        </div>

                        <!--Password-->
                        <div class="mb-3">
                            <label class="mb-2" for="password">Password</label>
                            <input id="password" type="password" class="form-control"
                                   th:field="*{password}" th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>

                        <!--RegisterForm Role-->
                        <div class="mb-3">
                            <label class="mb-2" for="role">Are you a Sharer or a Renter?</label>
                            <select id="role" th:field="*{role}" class="w-100 form-control" th:required="required">
                                <option value="" th:errorclass="is-invalid text-muted" >Select</option>
                                <option value="SHARER" name="Sharer">Sharer</option>
                                <option value="RENTER" name="Renter">Renter</option>
                            </select>
                            <div class="error-message" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></div>
                        </div>


                        <!--                        <div class="form-group">-->
                        <!--                            <label for="re-pass">Repeat your password</label>-->
                        <!--                            <input type="password" name="re_pass" id="re-pass"/>-->
                        <!--                        </div>-->

                        <div class="align-items-center d-flex">
                            <button type="submit" class="btn ms-auto">
                                Register
                            </button>
                        </div>
                        <!--Login button-->
                        <div class="col-12 pt-3">
                            <button class="btn w-100 mt-3" type="submit" th:text="Login"></button>
                        </div>
                    </form>
                </div><!--End card body -->

                <!--Card footer-->
                <div class="card-footer py-3 border-0">
                    <div class="text-center">
                        Already have an account? <a th:href="@{|/login|}" th:text="'Log in'"
                                                    class="text-dark"></a>
                    </div>
                </div>


            </div><!--End card-->

        </div><!--End col-->
    </div><!--End row-->
</div><!--End container-->

<!--Footer Fragment-->
<footer th:replace="fragments/footer.html :: footer"></footer>


<!--  &lt;!&ndash; Navbar&ndash;&gt;-->
<!--  <header class="header">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light py-3">-->
<!--      <div class="container">-->
<!--        &lt;!&ndash; Navbar Brand &ndash;&gt;-->
<!--        <a href="#" class="navbar-brand">-->
<!--          <img src="https://bootstrapious.com/i/snippets/sn-registeration/logo.svg" alt="logo" width="150">-->
<!--        </a>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->


<!--  <div class="container">-->
<!--    <div class="row py-5  mt-4 align-items-center">-->
<!--      &lt;!&ndash; For Demo Purpose &ndash;&gt;-->
<!--      <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">-->
<!--        <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">-->
<!--        <h1>Create an Account</h1>-->
<!--        <p class="font-italic text-muted mb-0">Create a minimal registeration page using Bootstrap 4 HTML form elements.</p>-->
<!--        <p class="font-italic text-muted">Snippet By <a href="https://bootstrapious.com" class="text-muted">-->
<!--          <u>Bootstrapious</u></a>-->
<!--        </p>-->
<!--      </div>-->

<!--      &lt;!&ndash; Registration Form &ndash;&gt;-->
<!--      <div class="col-md-7 col-lg-6 ml-auto">-->
<!--        <form action="#">-->
<!--          <div class="row">-->

<!--            &lt;!&ndash; First Name &ndash;&gt;-->
<!--            <div class="input-group col-lg-6 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-user text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md">-->
<!--            </div>-->

<!--            &lt;!&ndash; Last Name &ndash;&gt;-->
<!--            <div class="input-group col-lg-6 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-user text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <input id="lastName" type="text" name="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">-->
<!--            </div>-->

<!--            &lt;!&ndash; Email Address &ndash;&gt;-->
<!--            <div class="input-group col-lg-12 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-envelope text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <input id="email" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">-->
<!--            </div>-->

<!--            &lt;!&ndash; Phone Number &ndash;&gt;-->
<!--            <div class="input-group col-lg-12 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-phone-square text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <select id="countryCode" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">-->
<!--                <option value="">+12</option>-->
<!--                <option value="">+10</option>-->
<!--                <option value="">+15</option>-->
<!--                <option value="">+18</option>-->
<!--              </select>-->
<!--              <input id="phoneNumber" type="tel" name="phone" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3">-->
<!--            </div>.-->


<!--            &lt;!&ndash; Job &ndash;&gt;-->
<!--            <div class="input-group col-lg-12 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-black-tie text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md">-->
<!--                <option value="">Choose your job</option>-->
<!--                <option value="">Designer</option>-->
<!--                <option value="">Developer</option>-->
<!--                <option value="">Manager</option>-->
<!--                <option value="">Accountant</option>-->
<!--              </select>-->
<!--            </div>-->

<!--            &lt;!&ndash; Password &ndash;&gt;-->
<!--            <div class="input-group col-lg-6 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-lock text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">-->
<!--            </div>-->

<!--            &lt;!&ndash; Password Confirmation &ndash;&gt;-->
<!--            <div class="input-group col-lg-6 mb-4">-->
<!--              <div class="input-group-prepend">-->
<!--                            <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                                <i class="fa fa-lock text-muted"></i>-->
<!--                            </span>-->
<!--              </div>-->
<!--              <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">-->
<!--            </div>-->

<!--            &lt;!&ndash; Submit Button &ndash;&gt;-->
<!--            <div class="form-group col-lg-12 mx-auto mb-0">-->
<!--              <a href="#" class="btn btn-primary btn-block py-2">-->
<!--                <span class="font-weight-bold">Create your account</span>-->
<!--              </a>-->
<!--            </div>-->

<!--            &lt;!&ndash; Divider Text &ndash;&gt;-->
<!--            <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">-->
<!--              <div class="border-bottom w-100 ml-5"></div>-->
<!--              <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>-->
<!--              <div class="border-bottom w-100 mr-5"></div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Already Registered &ndash;&gt;-->
<!--            <div class="text-center w-100">-->
<!--              <p class="text-muted font-weight-bold">Already Registered? <a href="#" class="text-primary ml-2">Login</a></p>-->
<!--            </div>-->

<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


</body>
</html>