<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:fill="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"></html>
<head>
    <!--Required Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title> Sharenter - Homepage</title>

</head>
<body>
<!--Header Fragment-->
<header th:replace="fragments/header.html :: header"></header>

<main>
    <div class="container pb-2">
        <h1 class="py-2 text-center">About</h1>
        <div class="row pt-3">
            <div class="col-sm-6">
                <img th:src="@{/img/about.jpg}" class="img-about" alt="about">
            </div>
            <div class="col-sm-6">
                <h4 class="text-center"> INITIAL PROPOSAL </h4>
                <p>The goal of my web application was to improve the renting process of shared
                    accommodations in Ireland, which has grown in popularity as a result of the housing crisis,
                    by addressing issues identified in similar housing applications in the Irish market, such as the
                    lack of scheduling functionality for property viewings.</p>
                <p>Two main users are able to access my application:</p>
                <p>
                    • Sharer user – allowed to create listings of shared accommodations by inputting its
                    detailed information, such as address, price, type of room, number of house mates, and
                    viewing time slots availability. When all the viewing timeslots have been filled, the listing will
                    become immediately unavailable. In the Sharer Dashboard this user will be able to view, edit
                    or delete their listings and manage the viewings that have been scheduled by renter users.
                </p>
                <p>
                    • Renter – allowed to browse the accommodations listed, being able to search by
                    location and apply advanced filtering options. After selecting the preferred listing and
                    viewing their details, they will be able to choose the timeslot preferred and submit their
                    contact details to the sharer. In the Renter Dashboard, the user will be able to view,
                    reschedule or cancel all their viewings.
                </p>

                <h4 class="text-center"> MODIFICATIONS </h4>
                <p>
                    I've tried implementing the scheduling functionality in my application, but because of its complexity
                    and after professor Keith guidance I decided to implement a contact form in the listing details page,
                    in which the Renter user would be able to send a message containing their contact information and inquiry message.
                    I would then use the repository Count function to count how many contact inquiries were made by listing and use this
                    number to sort the results the browse-listings page, to avoid people from seeing listings that have a lot of inquiries,
                    since they would propably not get answered.
                </p>
                <p>
                    Unfortunaly I could not implement this functionality, because I had problems tring to implement and setting the id
                    of @OneToMany and @ManytoOne relatioships.

                </p>

            </div>
        </div>
    </div>
</main>
<!--Footer Fragment-->
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>