<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns="http://www.w3.org/1999/html">
<head>
    <!--Required Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title> Sharenter - Homepage</title>

</head>
<body>
<!--Header Fragment-->
<header th:replace="fragments/header.html :: header"></header>

<main>
    <div class="container pb-2">
        <h1 class="py-2 text-center">About</h1>
        <div class="row pt-3">
            <div class="col-sm-6">
                <img th:src="@{/img/about.jpg}" class="img-about" alt="about">
            </div>
            <div class="col-sm-6">
                <h4 class="text-center"> INITIAL PROPOSAL </h4>
                <p>The goal of my web application was to help people looking for a room to rent as well as those looking
                    to advertise a room, as shared accommodations have become more popular in Ireland because of the
                    housing crisis.</p>
                <p>The Renter user of this application would be able to search for rooms by location (with advanced
                    filtering options), schedule and manage viewings. While a Sharer would be able to list a room and
                    manage its listings and viewings. </p>
                <p>The Google Maps API will be used to get the coordinates of the listings and then used as input in
                    the Walker Score API, which will display how walkable the area is.</p>

                <h4 class="text-center"> MODIFICATIONS </h4>
                <p>
                    I tried to implement the scheduling functionality into my application, but due to its complexity
                    and on Professor Keith's recommendation, I decided to add a contact form to the listing details
                    page instead so that Renter users could send inquiring messages instead.</p>
                <p>
                    When a listing receives more inquiries than a predetermined number, a warning is given in the
                    inquiry form informing users that the Sharer is likely to disregard their contact.
                </p>
            </div>
        </div>
    </div>
</main>
<!--Footer Fragment-->
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>