<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Required Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.png}" rel="icon">

    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom CSS Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title> Sharer - New Listing </title>


</head>
<body>

<!--Header Fragment-->
<header th:replace="fragments/header.html :: header"></header>


<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-9 col-sm-9">

            <!-- Card -->
            <div class="card shadow-lg new-listing">

                <!-- Error message-->
                <div th:if="${param.success}">
                    <div class="alert alert-success">Listed created successfully!</div>
                </div>

                <!-- Card body-->
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Create a New Listing</h1>

                    <p class="text-center small">Enter the details of the accomodation</p>


                    <!--New Listing Form-->
                    <form action="#" th:action="@{/sharer/new-listing}" th:object="${listing}" method="POST">

                        <!-- Listing Title-->
                        <div class="mb-3">
                            <label class="mb-2" for="title">Listing title: </label>
                            <input id="title" type="text" class="form-control"
                                   th:field="*{title}" th:errorclass="is-invalid">
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2" for="rent">Monthly Rent: </label>
                            <input id="rent" type="number" class="form-control"
                                   th:field="*{rent}" th:errorclass="is-invalid">
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('rent')}" th:errors="*{rent}"></div>
                        </div>


<!--                        <div class="row" style="margin-bottom:20px;">-->
<!--                            <div class="col-md-4">-->
<!--                                <label class="form-label" for="employeeAddressStreet">Street</label>-->
<!--                                <input class="form-control" id="employeeAddressStreet" th:field="*{street}"-->
<!--                                       type="text">-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <label class="form-label" for="employeeAddressCity">City</label>-->
<!--                                <input class="form-control" id="employeeAddressCity" th:field="*{city}"-->
<!--                                       type="text">-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <label class="form-label" for="employeeAddressCountry">Country</label>-->
<!--                                <input class="form-control" id="employeeAddressCountry" th:field="*{county}"-->
<!--                                       type="text">-->
<!--                            </div>-->
<!--                        </div>-->


                        <div class="mb-3">
                            <label class="mb-2" for="roomType">What type of room?</label>
                            <select id="roomType" th:field="*{roomType}" class="w-100 form-control"
                                    th:required="required">
                                <option value="" th:errorclass="is-invalid" class="text-muted">Select</option>
                                <option name="Single" value="Single">Single Room</option>
                                <option value="Double" name="Double">Double Room</option>
                                <option value="Twin" name="Twin">Twin Room</option>
                                <option value="Triple" name="Triple">Triple Room</option>
                            </select>
                            <div class="error-message" th:if="${#fields.hasErrors('roomType')}"
                                 th:errors="*{roomType}"></div>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2" for="firstName">Number or housemates</label>
                            <input id="firstName" type="number" class="form-control"
                                   th:field="*{housemates}" th:errorclass="is-invalid">
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('housemates')}" th:errors="*{housemates}"></div>
                        </div>

                        <p>Please select the features of the accomodation: </p>
                        <div class="form-check">
                            <input class="form-check-input " th:field="*{privateBathroom}"
                                   th:checked="${isPrivateBathroom}" type="checkbox" id="privateBathroom">
                            <label class="form-check-label" for="privateBathroom">
                                Private Bathroom
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" th:field="*{petFriendly}"
                                   th:checked="${isPetFriendly}" type="checkbox" id="petFriendly">
                            <label class="form-check-label" for="petFriendly">
                                Pet-friendly
                            </label>
                        </div>


                        <div class="form-check">
                            <input class="form-check-input " th:field="*{suitableForCouples}"
                                   th:checked="${isSuitableForCouples}" type="checkbox" id="suitableForCouples">
                            <label class="form-check-label" for="suitableForCouples">
                                Suitable for couples
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input " th:field="*{billsIncluded}"
                                   th:checked="${isBillsIncluded}" type="checkbox" id="billsIncluded">
                            <label class="form-check-label" for="billsIncluded">
                                Bills included
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input " th:field="*{parking}"
                                   th:checked="${isParking}" type="checkbox" id="parking">
                            <label class="form-check-label" for="parking">
                                Parking
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input " th:field="*{landlordOccupied}"
                                   th:checked="${isLandlordOccupied}" type="checkbox" id="landlordOccupied">
                            <label class="form-check-label" for="landlordOccupied">
                                Landlord Occupied
                            </label>
                        </div>

                        <!--Create button-->
                        <div class="col-12 pt-3">
                            <button class="btn w-100 mt-3" type="submit">Create New Listing</button>
                        </div>
                    </form>

                    <hr>

                    <a th:href="@{/sharer/dashboard}"> Back to Sharer Dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer Fragment-->
<footer th:replace="fragments/footer.html :: footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</body>
</html>