
h1, h2, h3, h4, h5{
    color: #2a340d;
    text-align: center;
}

.teste{
    background-color: #2a340d;
}

.btn{
    border: 1px solid  #9FC131;
    color: #2a340d;
    font-weight: bold;
}

.btn:hover{
    background-color: #9FC131;
}

.nav-link a:hover {
    border-bottom: 3px solid #9FC131;
}

.nav-item a{
    color: #2a340d;
    font-weight: normal;
}


.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 3px solid #9FC131;
}


.search-header {
    background: url(../img/room-4.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 93px;
}

footer{
    background-color: #2a340d;
    color: white;
}


.form-control:focus {
    border-color: #9FC131;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}