/*Global styling*/

*{
    color: #192f44;
}

h1, h2, h3, h4, h5, h6{
    color: #192f44;
}

/*Defining default style to buttons*/
.btn:hover{
    background-color: #008080;
    color: white;
}

.btn{
    background-color:#00ca90;
    color:white ;
}

.blue-btn{
    background-color: #00596c;
    color: white;
}


/*Default style for navbar*/
header{
    margin-bottom: 93px;
}

.nav-link a:hover {
    border-bottom: 3px solid #00ca90;
}

.nav-item a{
    color: #192f44;
    font-weight: normal;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 3px solid #00ca90;
}


/*Footer Styling*/
footer{
    background-color: #192f44;
    color: white;
}

/*Default styling for form input*/
.form-control:focus {
    border-color: #00ca90;
    box-shadow: 0 0 0 0.2rem #00ca90;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/*Index page styling*/
.index-container{
    background: url(../img/room.jpg) no-repeat center center;
    background-size: cover;
}


/*New Listing styling*/
.new-listing{
    margin-top: 50px;

}

.index-header {
    color: white;
}

.img-thumbnail {
    display: block;
    width: 100%;
    height: 500px; //change as per your requirement
}

